<div class="m-3">
    <div class="m-3">
        <table class="table table-striped table-bordered table-hover table-responsive-sm table-responsive-md" >
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Profile Photo</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor = " let cont of contactservice.storeData">
                    <td>{{cont.Name}}</td>
                    <td>{{cont.Email}}</td>
                    <td>{{cont.Mob}}</td>
                    <td><a href="{{cont.file}}"><img height="80px" width="80" src="{{cont.file}} " alt="{{cont.imageUrl}}"></a>  </td>

                    <td>
                        <a (click)="Edit(cont)" class="m-3" ><i class="fa fa-pencil"></i></a>
                        <a (click)="delete(cont.id)" class="m-3"><i class="fa fa-trash" ></i></a>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
</div>
